body {
  text-align: center;
  font-family: Arial;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

img {
  width: 120px;
  height: 120px;
  cursor: pointer;
  border: 3px solid transparent;
}

.selected {
  border: 3px solid green;
}

button {
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

#para {
  font-weight: bold;
  margin-top: 20px;
}